<div class="container my-4 border border-black border-1 border-opacity-10 rounded p-3  shadow bg-primary bg-opacity-10 " style="max-width: 80vh;">
  <h1 class="text-center mb-3">Update defect status </h1>

  <form action="/defectstatus/edit/<%= formData._id %>" method="POST">
    <div class="row justify-content-center g-3 m-auto">

      <!-- Building -->

      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="name" name="name" placeholder="Name"
                 value="<%= formData ? formData.name : '' %>" autocomplete="off">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="code" name="code" placeholder="Code"
                 value="<%= formData ? formData.code : '' %>" autocomplete="off">
          <label for="code">Code</label>
        </div>
      </div>
            <!-- isTerminal -->
      <div class="col-md- bg-secondary bg-opacity-10 p-3 rounded">

      <div class="col-md-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isTerminal" name="isTerminal" <%= formData && formData.isTerminal ? 'checked' : '' %>>
          <label class="form-check-label" for="isTerminal">
            Terminal
          </label>
        </div>
      </div>
            <!-- orderIndex -->

      <div class="col-md-12">
        
        <div class="form-floating">
          <input type="number" class="form-control shadow-none" id="orderIndex" name="orderIndex" placeholder="Order"
                 value="<%= formData ? formData.orderIndex : '' %>" autocomplete="off">
          <label for="orderIndex">Order</label>
        </div>
      </div>
            </div>






      <div class="col-md-12 mt-3">
        <button type="submit" class="btn btn-primary w-100">Update defect status</button>
      </div>

    </div>
  </form>
</div>
