<div class="container my-4 border border-black border-1 border-opacity-10 rounded p-3  shadow bg-primary bg-opacity-10 " style="max-width: 80vh;">
  <h1 class="text-center mb-3">Update defect type </h1>

  <form action="/defecttypes/edit/<%= formData._id %>" method="POST">
    <div class="row justify-content-center g-3 m-auto">

      <!-- Building -->

      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="name" name="name" placeholder="Name"
                 value="<%= formData ? formData.name : '' %>" autocomplete="off">
          <label for="name">Name</label>
        </div>
      </div>
      <!-- Severity dropdown -->
      <div class="col-md-12">
        <div class="form-floating">
          <select class="form-control shadow-none" id="severity" name="severity" autocomplete="off">
            <option value="LOW" <%= formData && formData.severity === 'LOW' ? 'selected' : '' %>>Low</option>
            <option value="MEDIUM" <%= formData && formData.severity === 'MEDIUM' ? 'selected' : '' %>>Medium</option>
            <option value="HIGH" <%= formData && formData.severity === 'HIGH' ? 'selected' : '' %>>High</option>
            <option value="CRITICAL" <%= formData && formData.severity === 'CRITICAL' ? 'selected' : '' %>>Critical</option>
          </select>
          <label for="severity">Severity</label>
        </div>
      </div>  







      <div class="col-md-12 mt-3">
        <button type="submit" class="btn btn-primary w-100">Update defect type</button>
      </div>

    </div>
  </form>
</div>
